<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js">
    </script>
    <link rel="stylesheet" type="text/css" 
       href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.css">
    <script 
      src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-xmlrpc/0.4.3/jquery.xmlrpc.js"> </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>

    <h3 class="ui block header" style="color:red;">
        APP
    </h3>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#creategate").click(function(){
                $("#create_error").hide();
                $("#create_success").hide();
                $("#activity").hide();
                $("#formgate").show();
            });
            $("#showhistory").click(function(){
                $("#create_error").hide();
                $("#create_success").hide();
                $("#formgate").hide();
                $("#activity").show();
                $.ajax({
                    url: '/adminapp/activity',
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        $('#activity > tbody:last-child').empty()
                            data["list"].forEach(v => {
                                $('#activity > tbody:last-child').
                                    append('<tr> <td>'+ v["gate_id"]+'</td><td>' +v["outcome"] + '</td><td>'+ v["time_stamp"]+'</td></tr>');
                            });
                    }
                });
            });

      })
    </script>
  </head>
  <body>
    <button  class="ui button" id ="creategate">
        Create Gate 
    </button>
    <button  class="ui button" id = "showhistory">
        Show Activity 
    </button>

    <table style="display: none" class="ui celled table selectable" id="activity" >
        <thead>
          <tr>
            <th>GateID</th>  <th>Outcome</th>   <th>Time</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
    </table>



    <form style="display: none" id=formgate class="ui form">
        <div class="field">
          <label>Gate Id:</label>
          <input type="text" id="id" name="id" placeholder="Gate Id">
        </div>
        <div class="field">
          <label>Gate Location:</label>
          <input type="text" id="location" name="location" placeholder="Gate Location">
        </div>
        <button id=create_button class="ui button" onclick="create();return false">Submit</button>
    </form>

    <script>
        function create(){
        $("#create_error").hide();
        $("#create_success").hide();

        var form_info={
            'id':$(".ui.form").form('get field','id').val(),
            'location':$(".ui.form").form('get field','location').val()
        };
        $.ajax({
          url: '/adminapp/gate',
          type: "POST",
          async: false,
          contentType: "application/json",
          data: JSON.stringify(form_info),
          dataType: "json",
          success: function (data) {
            if(data["errorCode"] == 0){
                $("#create_success").text(data["secret"]).show() ;
            }
            else{
                $("#create_error").text(data["errorDescription"]).show() ;
            }
            
          }
        });
    }
    </script>

    <p id = "create_error" style="color:red;font-size:20px;"></p>
    <p id = "create_success" style="color:green;font-size:20px;"></p>
</body>