<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js">
    </script>
    <link rel="stylesheet" type="text/css" 
       href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.css">
    <script 
      src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-xmlrpc/0.4.3/jquery.xmlrpc.js"> </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>

    <h3 class="ui block header" style="color:red;">
        APP
    </h3>
  </head>
  <body>
    <button  class="ui button" id ="userappp">
      <a href= "/user"> User APP </a>
    </button>
    <button  class="ui button" id = "adminapp">
        <a href= "/admin"> Admin APP </a>
    </button>
    <button  class="ui button" id = "gate">
        <a href= "/gate"> Gate APP </a>
    </button>
  </body>
</html>