<!DOCTYPE html>
<html>
<header>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js">
    </script>
    <link rel="stylesheet" type="text/css" 
       href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.css">
    <script 
      src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-xmlrpc/0.4.3/jquery.xmlrpc.js"> </script>
    <script src="https://raw.githubusercontent.com/mebjas/html5-qrcode/master/minified/html5-qrcode.min.js"></script>
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
    <script>
        $(document).ready(function()
        {
            interval = setInterval(function(){         
            },50  /* 10000 ms = 10 sec */
            ); 
        });

    function wait(ms)
    {
        console.log("b4");

        var d = new Date();
        var d2 = null;
        do { d2 = new Date(); }
        while(d2-d < ms);
        console.log("after");

    
    };

function showResult(code){
    if(code == 0){
        //$("#error").hide();
        console.log("ola");
        console.log("ola1");
        $("#confirm").show();
    }
    else{
        console.log("ola1");
        //html5QrcodeScanner.pause();
        $("#error").show();

    }
   // html5QrcodeScanner.pause();
    //html5QrcodeScanner.resume();
    //html5QrcodeScanner.pause();
};

function hideResult(){
    $("#confirm").hide();
    $("#error").hide();
};
    </script>

</header>


<body>
    <div id=formgate>
        <form action = "/gateapp/gate" method="POST">
            Gate Id: 
            <textarea id="id" name="id" rows="1" cols="12">
            </textarea>
    
            <p>Gate Secret:</p>
            <textarea id="secret" name="secret" rows="1" cols="12">
            </textarea>
            <p> press the submit button to store the gate on the server</p>
         <input type="submit">
        </form>
    </div>

    
    <div id="qr-reader" style="width: 600px"></div>

    <div id="gate_id" style="visibility: hidden; display:inline;">{{gate_id}} </div>

   
   
   
    <p id="error" style="display: none;color:red">Invalid Code, Try Again</p>
    <p id="confirm"  style="display: none;color:green">Tem 5 segundos</p>

    
    <!-- <div id="confirawefrm">
        <i  class="check icon" style="color:green;width: 600px"></i>
        <p  style="color:green">Tem 5 segundos</p>
    </div> -->

    <script>

        function onScanSuccess(decodedText, decodedResult) {
            console.log(`Code scanned = ${decodedText}`, decodedResult);
            console.log('gate_id=',document.getElementById("gate_id").innerHTML);
            msg = "["+decodedText + ",{\"gate_id\" : \"" + document.getElementById("gate_id").innerHTML+"\"}]"
            console.log(msg);
            $.ajax({
                url: '/API/gateapp/code',
                type: "POST",
                async: false,
                //processData: false,
                contentType: "application/json",
                data: msg,
                //gate_id:document.getElementById("conas").innerHTML, //preciso do gate id para por na dB dos gates que o user entrou
                dataType: "json",
                success: function (data) {
                    $("#confirm").hide();
                    $("#error").hide();
                    if(data["errorCode"] == 0){
                        console.log("acertou")
                        
                        $("#confirm").show();
                        clearInterval(interval);
                        interval = setInterval(function(){   
                            $("#confirm").hide();        
                        },5000  /* 10000 ms = 10 sec */
                        ); 
                    }
                    else{
                        $("#error").show();
                    }             
                },
            });
            //$("#error").show();
            //$("#confirm").show();

            //wait(5000);
            //$("#error").hide();
            //$("#confirm").hide();
            console.log("out")
        };

        var html5QrcodeScanner = new Html5QrcodeScanner("qr-reader", { fps: 10, qrbox: 250 });
        html5QrcodeScanner.render(onScanSuccess);
    </script>

</body>



<!-- <div id=formgate>
    <form action = "/adminapp/createGate" method="POST">
        Gate Id: 
        <textarea id="id" name="id" rows="1" cols="12">
        </textarea>

        <p>Gate Secret:</p>
        <textarea id="secret" name="secret" rows="1" cols="12">
        </textarea>
        <p> press the submit button to store the gate on the server</p>
     <input type="submit">
    </form>
</div> -->
</html>