<!DOCTYPE html>
<html>
<header>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js">
    </script>
    <link rel="stylesheet" type="text/css" 
       href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.css">
    <script 
      src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-xmlrpc/0.4.3/jquery.xmlrpc.js"> </script>
    <script src="https://raw.githubusercontent.com/mebjas/html5-qrcode/master/minified/html5-qrcode.min.js"></script>
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
    <script>
        $(document).ready(function()
        {
            interval = setInterval(function(){         
            },50  /* 10000 ms = 10 sec */
            ); 
        });

//     function wait(ms)
//     {
//         console.log("b4");

//         var d = new Date();
//         var d2 = null;
//         do { d2 = new Date(); }
//         while(d2-d < ms);
//         console.log("after");

    
//     };

// function showResult(code){
//     if(code == 0){
//         //$("#error").hide();
//         console.log("ola");
//         console.log("ola1");
//         $("#confirm").show();
//     }
//     else{
//         console.log("ola1");
//         //html5QrcodeScanner.pause();
//         $("#error").show();

//     }
//    // html5QrcodeScanner.pause();
//     //html5QrcodeScanner.resume();
//     //html5QrcodeScanner.pause();
// };

// function hideResult(){
//     $("#confirm").hide();
//     $("#error").hide();
// };
    </script>

</header>


<body>

    
    
    <form id=gate_auth class="ui form">
        <div class="field">
          <label>Gate Id:</label>
          <input type="text" id="id" name="id" placeholder="Gate Id">
        </div>
        <div class="field">
          <label>Gate secret:</label>
          <input type="text" id="secret" name="secret" placeholder="Gate secret">
        </div>
        <button id=auth_button class="ui button" onclick="validation();return false">Submit</button>
    </form>

    <script>
        function validation(){
        console.log("será?");
        console.log($(".ui.form").form('get field','id').val());
        console.log($(".ui.form").form('get field','secret').val());
        console.log("será?");

        var form_info={
            'id':$(".ui.form").form('get field','id').val(),
            'secret':$(".ui.form").form('get field','secret').val()
        };
        $.ajax({
          url: '/gateapp/gate',
          type: "POST",
          async: false,
          contentType: "application/json",
          data: JSON.stringify(form_info),
          dataType: "json",
          success: function (data) {
            if(data["errorCode"] == 0){
                console.log("enter gate")

                $("#form_error").hide();
                $("#gate_auth").hide();
                $("#gate_id").text($(".ui.form").form('get field','id').val());
                var html5QrcodeScanner = new Html5QrcodeScanner("qr-reader", { fps: 10, qrbox: 250 });
                html5QrcodeScanner.render(onScanSuccess);
            }
            else{
                console.log("fail gate")
                $("#form_error").text(data["errorDescription"]).show() ;
            }
            
          }
        });
    }
    </script>

    <!-- <script>
        $(".ui.form").form({onclick: function(){
        console.log("será?");
        console.log($(".ui.form").form('get field','id').val());
        console.log($(".ui.form").form('get field','secret').val());
        console.log("será?");

        form_info={
            'id':str($(".ui.form").form('get field','id').val()),
            'secret':str($(".ui.form").form('get field','secret').val())
        };
        $.ajax({
          url: '/gateapp/gate',
          type: "POST",
          async: false,
          contentType: "application/json",
          data: form_info,
          dataType: "json",
          success: function (data) {
            if(data["errorCode"] == 0){
                console.log("enter gate")


                var d = new Date();
         var d2 = null;
         do { d2 = new Date(); }
         while(d2-d < 2000);

                $("#form_error").hide();
                $("#gate_auth").hide();
                var html5QrcodeScanner = new Html5QrcodeScanner("qr-reader", { fps: 10, qrbox: 250 });
                html5QrcodeScanner.render(onScanSuccess);
            }
            else{
                console.log("fail gate")
                $("#form_error").text(data["errorDescription"]).show() ;
            }
            
          }
        });
    }})
    </script> -->

    <p id = "form_error" style="display: none"></p>

    
    <div id="qr-reader" style="width: 600px"></div>

    <p id="gate_id" style="visibility: hidden; display:inline;"> </p>

   
   
   
    <p id="error" style="display: none;color:red">Invalid Code, Try Again</p>
    <p id="confirm"  style="display: none;color:green">Tem 5 segundos</p>


    <script>

        function onScanSuccess(decodedText, decodedResult) {
            console.log(`Code scanned = ${decodedText}`, decodedResult);
            console.log('gate_id=',document.getElementById("gate_id").innerHTML);
            msg = "["+decodedText + ",{\"gate_id\" : \"" + $("#gate_id").text()+"\"}]"
            console.log(msg);
            $.ajax({
                url: '/API/gateapp/code',
                type: "POST",
                async: false,
                contentType: "application/json",
                data: msg,
                dataType: "json",
                success: function (data) {
                    $("#confirm").hide();
                    $("#error").hide();
                    if(data["errorCode"] == 0){
                        console.log("acertou")
                        
                        $("#confirm").show();
                        clearInterval(interval);
                        interval = setInterval(function(){   
                            $("#confirm").hide();        
                        },5000  /* 10000 ms = 10 sec */
                        ); 
                    }
                    else{
                        $("#error").show();
                    }             
                },
            });
            console.log("out")
        };

        
    </script>

</body>

</html>