<!DOCTYPE html>
<html>
<header>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js">
    </script>
    <link rel="stylesheet" type="text/css" 
       href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.css">
    <script 
      src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-xmlrpc/0.4.3/jquery.xmlrpc.js"> </script>
    <script src="https://raw.githubusercontent.com/mebjas/html5-qrcode/master/minified/html5-qrcode.min.js"></script>
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>


</header>


<body>

    
    <div id="qr-reader" style="width: 600px"></div>

    <script>
        function onScanSuccess(decodedText, decodedResult) {
        console.log(`Code scanned = ${decodedText}`, decodedResult);
    }
    var html5QrcodeScanner = new Html5QrcodeScanner(
        "qr-reader", { fps: 10, qrbox: 250 });
    html5QrcodeScanner.render(onScanSuccess);
    </script>

</body>



<!-- <div id=formgate>
    <form action = "/adminapp/createGate" method="POST">
        Gate Id: 
        <textarea id="id" name="id" rows="1" cols="12">
        </textarea>

        <p>Gate Secret:</p>
        <textarea id="secret" name="secret" rows="1" cols="12">
        </textarea>
        <p> press the submit button to store the gate on the server</p>
     <input type="submit">
    </form>
</div> -->
</html>