<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js">
    </script>
    <link rel="stylesheet" type="text/css" 
       href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.css">
    <script 
      src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-xmlrpc/0.4.3/jquery.xmlrpc.js"> </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>

    <h3 class="ui block header" style="color:red;">
      User APP
    </h3>

    <script type="text/javascript">
      $(document).ready(function(){
      $("#qrcode_button").click(function(){
        
        $("#history").hide();
        $.ajax({
          url: '/API/users/code',
          type: "GET",
          dataType: "json",
          success: function (data) {
            console.log(data);
            $("#qrcode").empty()
            qrcode_ = new QRCode(document.getElementById("qrcode"),{
              text: JSON.stringify(data),
              width: 200,
              height: 200,
              colorDark : "#000000",
              colorLight : "#ffffff",
              marginleft: 8,
              correctLevel : QRCode.CorrectLevel.H
            });
            $("#qrcode").show();
          }
        });

      })

      $("#history_button").click(function(){
        console.log("papi");
        $("#qrcode").hide();
        
        $.ajax({
          url: '/userapp/history',
          type: "GET",
          dataType: "json",
          success: function (data) {
             console.log(data);
            $('#history > tbody:last-child').empty()
            data["list"].forEach(v => {
              $('#history > tbody:last-child').
              append('<tr> <td>'+ v["gate"]+'</td><td>'+ v["time_stamp"]+'</td></tr>');
            });
            $("#history").show();
          }
        });
    })
  })
    </script>

<style>
  p { color: #fff; }
 div {border-width:20px;
border-style:solid;
border-color:white;}
</style>
  </head>
  <body>
    <button  class="ui button" id ="qrcode_button">
      Get QRcode
    </button>
    <button  class="ui button" id = "history_button">
      History
    </button>
    <div class="ui divider" id="qrcode" ></div>
    <table style="display: none" class="ui celled table selectable" id="history" >
      <thead>
        <tr>
          <th>GateID</th>  <th>Time</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </body>
</html>